<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # If the request is for a file/folder that exists in the root, serve it
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # If the request is for a file/folder that exists in the public directory, serve it
    # We use a relative path here which is safer across different environments
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{DOCUMENT_ROOT}/opod_agent/public/$1 -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/opod_agent/public/$1 -d
    RewriteRule ^(.*)$ public/$1 [L]

    # Otherwise, send the request to the root index.php
    RewriteRule ^ index.php [L]
</IfModule>
